@import '../routes/application/styles';
@import '../routes/about/styles';
@import '../routes/blog/styles';

body {
  margin: 0;
  //font-family: 'Concert One', cursive;
  background-color: #073642;
  color: #859900;
}

.menu {
  position: absolute;
	right: 50px;
}

a {
  color: #268bd2;
}

.menu-bar {
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,.1);
}
