<div id="particles-time"></div>
<div class="about-page">
  {{outlet}}
  <div class="cover">
    <div class="intro">Hi! I'm Jakub.</div>
    <div class="jobs">Father, manager & web engineer</div>
  </div>
</div>

{{#link-to 'blog'}}Blog{{/link-to}}
